h1 {
  text-align: center;
  background-color: rgb(187, 109, 20);
  padding: 20%;
  border-radius: 30%;

}
h2{
  text-align: justify;
  font-family: monospace;
  font-size: 5em;
  background-color: rgb(123, 153, 17);
  font-family: sans-serif

}
h3{
  text-align: center;
  font-family: monospace;
  font-size: 10em;
  background-color: rgb(255, 0, 200);
  font-family: sans-serif;
}

section {
  background-color: #61c6fc;
  width: 20%;
  height: 30%;
  margin: 0 auto;
  border: 5px solid #0ab10a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex;
}



